

.container{
    width:  100%;
    height: 100%;
    background-image: url(../assets/background\ image.png);
    position: absolute;
}
.landingPage{
    width: 100%; 
    display: flex;
}
.textLabel{
    margin-top: 200px;
    margin-left: 41px;
    width: 50%;
}
.textLabel label{
    color: #00B757;
    opacity: 0.6;
    text-align: left;
}
.textLabel1{
    letter-spacing: -3.21px;
    font-size: 107px;
    width: 50%;
font-weight: bold;
    
}
.textLabel2{
    letter-spacing: -4.45px;
    font-size: 89px;
}
.cardContainer{
    width: 50%;
}

