
.container{
    width:  100%;
    height: 100%;
    background-image: url(../assets/background\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,100%);
}
.landingPage{
    margin: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.textLabel{
    color: #00B757;
    text-align: center;
    font-size: 30px;
}
.cardContainer{
    margin: auto;
}

@media (min-width: 767px){
    .container{
        width:  100%;
        height: 100%;
        position: absolute;
    }
    .landingPage{
        width: 100%; 
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .textLabel{
        margin-left: 41px;
        text-align: left;
    }
    .textLabel label{
        color: #00B757;
        opacity: 0.6;
        text-align: left;
    }
    .textLabel1{
        letter-spacing: -3.21px;
        font-size: 107px;
        font-weight: bold;
        margin: 0;
        text-align: left;

    }
    .textLabel2{
        letter-spacing: -4.45px;
        font-size: 89px;
        font-weight: 400;
        white-space: initial; 
        margin: 0;
    }
}

@media (min-width: 1126px){
    .textLabel2{
        white-space: nowrap; 
    }
}
